.target-card {
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border-radius: 5px;
  width: 50%;
  flex: 1 1 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.target-card:nth-child(even) {
  background-color: var(--orange);
}

.left-target {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.left-target > p {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black);
  text-transform: capitalize;
}
.left-target > span {
  font-weight: 700;
  font-size: 1.1rem;
  font-weight: normal;
  color: var(--orange);
}

.target-card:nth-child(even) > .left-target > span {
  color: var(--white);
}

.right-target {
  position: relative;
}

.right-target::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  width: 1px;
  height: 80%;
  background-color: var(--black);
  opacity: 0.7;
}

.right-target > .range {
  width: 6rem;
  height: 6rem;
  border: 4px solid var(--white_alt);
  background-color: transparent;
  border-radius: 50%;
}

.right-target > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-target > p {
  font-weight: 700;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--orange);
}

.target-card:nth-child(even) > .right-target > p {
  color: var(--black);
}
