.right {
  padding-bottom: 2em;
}
.right-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.top {
  display: flex;
  flex-direction: column;
}

.right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.right-icon {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 1px 3px 10px var(--black_alt);
}

.profile-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.profile-top > .image-container {
  height: 15rem;
  width: 100%;
  max-width: 18rem;
  background-color: var(--bg);
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
}

.profile-top > p {
  color: var(--black_alt);
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0.7;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.profile-bottom > .profile-bottom_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-bottom_content > p {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--black);
}

.profile-bottom_content > span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black_alt);
}

.log-out {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 5rem;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease;
}

.log-out:hover {
  /* background-color: var(--bg); */
  background-color: rgba(203, 35, 35, 0.29);
}

.icon {
  width: 28px;
  height: 28px;
  padding: 0.3rem;
}

.log-out > p {
  font-size: 1.2rem;
  color: var(--red);
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.divider {
  width: 70%;
  border: 1px solid var(--black_alt);
  margin: 0 auto;
  opacity: 0.5;
}
